.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7F7F7;
    padding: 20px;
    height: 100vh;
    padding-top: 100px;
}

.title {
    color: #333333;
    margin-bottom: 20px;
    max-width: 800px;
    text-align: center;
}

.paragraph {
    color: #555555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    max-width: 800px; /* Limiting text width */
}
