/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  padding-top: 15px;
  padding-bottom: 100px;
}

.hero {
  padding: 30px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #333333;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #555555;
  margin-bottom: 40px;
}

.ctaButton {
  background-color: #0080FF;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #005bab;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow effect */
  margin-bottom: 15px;
}

.features div {
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 20px;
}

.features p {
  font-size: 1rem;
  color: #555555;
}